name: Build and Package

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
        
    - name: Get Short Identifier
      uses: benjlevesque/short-sha@v3.0
      id: short-sha
      
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pyinstaller
        
    - name: Build with PyInstaller
      id: build
      run: python pack.py ${{ steps.short-sha.outputs.sha }}
      
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.build.outputs.artifact_name }}
        path: dist/*.exe
